extends ./layouts/layout.pug

block style
    link(rel="stylesheet", href="/css/style.css")

block content
    .banner
        .banner-1
            a(href="/products")
                img.banner-image(src="https://static.vecteezy.com/system/resources/previews/009/935/704/non_2x/sale-banner-template-design-super-sale-end-of-season-special-offer-banner-vector.jpg", alt="sale.jpeg", loading="lazy")
        .banner-2
            a(href="/products")
                img.banner-image(src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/596421_578142/Shirts/tshirt-flash-sale-header.jpg", loading="lazy")
            a(href="/products")
                img.banner-image(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSZYOrrw240acrP_4JkkohSp_gUzPQE0xR_P4hJb8ZcjGpqduVW", alt="adidas-sale.jpeg", loading="lazy")
    
    hr.line-head-1

    .list-product
        .list-product-shoes
            div
                img.list-shoes-image(src="./images/list-shoes.jpeg", alt="shoes.jpeg", loading="lazy")
            div
                h2 Shoes
                a(href="/products").show-all Show All
        .list-product-shirt
            div
                img.list-shirt-image(src="./images/list-shirt.png", alt="shirt.png", loading="lazy")
            div
                h2 T-Shirt
                a(href="/products").show-all Show All
        .list-product-jeans
            div
                img.list-jeans-image(src="./images/list-jeans.png", alt="jeans.png", loading="lazy")
            div
                h2 Jeans
                a(href="/products").show-all Show All

    hr.line-head-2

    .shoes
        .shoes-detail
            h1.type-product shoes
            ul
                li
                    h3.subtopic Product Technology System
                    p สินค้าได้รับการออกแบบด้วยเทคโนโลยีที่ทันสมัยเพื่อให้ลูกค้าได้รับประสบการณ์ที่สบายที่สุดโดยใช้เทคโนโลยีที่เป็นเอกลักษณ์และวัสดุคุณภาพสูง  
                li
                    h3.subtopic Modern Design
                    p สินค้าของเราไม่เพียงแต่ดูสวยงาม แต่ยังเน้นดีไซน์ที่ทันสมัย
                li
                    h3.subtopic Completeness
                    p ใส่ใจทุกรายละเอียดเพื่อให้แน่ใจว่าผลิตภัณฑ์ของเรามีคุณภาพ
                li
                    h3.subtopic Diversity
                    p ไม่ว่าจะต้องการใช้งานทุกวันหรือสำหรับวันพิเศษ ผลิตภัณฑ์ของเรามีรูปแบบหลากหลายที่ตอบโจทย์ทุกความต้องการ
                li
                    h3.subtopic Ultimate Comfort
                    p สินค้าถูกออกแบบมาเพื่อให้ได้รับประสบการณ์การสวมใส่ที่สบาย ไม่ว่าจะเป็นการเดินทางยาวๆ หรือกิจกรรมที่ต้องใช้พลังงานมาก
                li
                    h3.subtopic Interest
                    p รองเท้าของเราไม่เพียงแต่เป็นเครื่องแต่งกาย แต่ยังเป็นคำตอบที่ทันสมัยและสะท้อนตัวตนของคุณ
        .shoes-image
            img.shoes-product(src="https://shop.varsity.com/cdn/shop/files/VibeBlackShoe_8e1ce8d1-6c70-4887-afa5-0e10eada5aaf_550x.png?v=1715959045", alt="shoes.png", loading="lazy")

    .T-shirt
        .shirt-image
            img.shirt-product(src="./images/shirt.png", alt="shirt.png", loading="lazy")
        .shirt-detail
            h1.type-product T-Shirt
            ul
                li
                    h3.subtopic Modern Design
                    p เสื้อ T-shirt เป็นผลงานการออกแบบที่ใส่ใจทุกรายละเอียด ด้วยดีไซน์ที่สะดุดตาและโดดเด่น  
                li
                    h3.subtopic Quality
                    p ใช้วัสดุคุณภาพสูงในการผลิตเสื้อ T-shirt เพื่อให้คุณได้รับสินค้าที่มีความคุ้มค่า 
                li
                    h3.subtopic Comfort
                    p ด้วยวัสดุที่นุ่มสบายทำให้เสื้อ T-shirt ของเรามอบความสบายในการสวมใส่ทุกวัน  
                li
                    h3.subtopic Variety of Styles
                    p มีสไตล์และลายละเอียดที่หลากหลายให้คุณเลือก ไม่ว่าจะเป็นสไตล์ที่ง่ายๆหรือสไตล์ที่แสดงออกความเป็นตัวตนของคุณ    
                li
                    h3.subtopic Interest
                    p เสื้อ T-shirt ของเราไม่เพียงแค่เป็นเสื้อผ้า แต่ยังเป็นการแสดงออกเกี่ยวกับสไตล์และบุคลิกภาพของคุณอย่างแท้จริง  
                li
                    h3.subtopic Quality Guarantee
                    p เรามั่นใจในคุณภาพของสินค้าและให้การรับประกันคุณภาพที่เชื่อถือได้

    .jeans
        .jeans-detail
            h1.type-product Jeans
            ul
                li
                    h3.subtopic Modern Design
                    p กางเกงยีนส์เป็นผลงานการออกแบบที่ใส่ใจทุกรายละเอียด ด้วยดีไซน์ที่สะดุดตาและโดดเด่น    
                li
                    h3.subtopic Quality
                    p ใช้วัสดุคุณภาพสูงในการผลิต เพื่อให้คุณได้สินค้าที่มั่นใจในคุณภาพและความทนทาน
                li
                    h3.subtopic Comfort
                    p กางเกงยีนส์ของเรามาพร้อมกับวัสดุที่นุ่มสบาย เพื่อให้คุณได้รับประสบการณ์การสวมใส่ที่สบายที่สุด   
                li
                    h3.subtopic Variety of Style
                    p มีสไตล์ที่หลากหลายให้คุณเลือก ตั้งแต่สไตล์ที่ง่ายๆไปจนถึงสไตล์ที่ทันสมัย
                li
                    h3.subtopic Interest
                    p กางเกงยีนส์ของเราไม่เพียงแค่เป็นเสื้อผ้า แต่ยังเป็นการแสดงตัวตนและสไตล์ของคุณอย่างแท้จริง    
                li
                    h3.subtopic Quality Guarantee
                    p เรามั่นใจในคุณภาพของสินค้าและให้การรับประกันคุณภาพที่เชื่อถือได้      
        .jeans-image
            img.jeans-product(src="https://cloutcollection.shop/cdn/shop/files/CLOUT_COLLECTION_image1_Hi-Street-Vintage-Baggy-Jeans-Men-Retro-Blue-Loose-Straight-Denim-Pants-Distressed-Ripped-Dirty-Jeans_b12826e4-842c-4f42-a3d3-754fe53bf994_1024x.png?v=1712769630", alt="jeans.png", loading="lazy")
            