.footer-container {
  padding: 2rem 0;
  background-color: black;
}

.payment {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.payment-image {
  width: 80px;
}

.footer-text {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .footer-text {
    font-size: 1em;
  }
}
