.nav-container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.nav-center {
  width: 90vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo-img {
  filter: none;
  height: 5rem;
}

.nav-addproduct {
  color: white;
  font-size: 20px;
}

.nav-center ul {
  list-style-type: none;
}

.nav-center a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: #f0f4f8;
  font-size: 20px;
}

.nav-links a:hover {
  color: rgb(80, 80, 193);
}

.nav-links li {
  margin: 0 1rem;
}

.footer-container {
  padding: 2rem 0;
  background-color: black;
}

.payment {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.payment-image {
  width: 100px;
}

.footer-text {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .nav-container {
    margin-bottom: 2rem;
  }

  .nav-links li {
    margin: 0 0.3rem;
  }

  .nav-addproduct,
  .nav-links a {
    font-size: 16px;
  }

  .footer-text {
    font-size: 1em;
  }

  .payment-image {
    width: 80px;
  }
}
